.buy-col {
    background-image: url(images/icons/fam/accept.png);
}
.sell-col {
    background-image: url(images/icons/fam/delete.gif);
    margin-right: 8px;
}
.alert-col {
    background-image: url(images/icons/fam/error.png);
}
.application-go {
    background-image: url(images/icons/fam/application_go.png);
    margin-right: 8px;
}
.act-col-user-del {
    background-image: url(images/icons/fam/user_delete.png);
}
.act-col-user-add {
    background-image: url(images/icons/fam/user_add.png);
}
.act-col-user-edit {
    background-image: url(images/icons/fam/user_edit.png);
}
.grid-edit {
    background-image: url(images/icons/fam/page_white_edit.png);
}