.buy-col {
    background-image: url(images/icons/fam/accept.png);
      margin-right: 8px;
}
.sell-col {
    background-image: url(images/icons/fam/delete.gif);
    margin-right: 8px;
}
.alert-col {
    background-image: url(images/icons/fam/error.png);
}
.application-go {
    background-image: url(images/icons/fam/application_go.png);
    margin-right: 8px;
}
.act-col-user-del {
    background-image: url(images/icons/fam/user_delete.png);
}
.act-col-user-add {
    background-image: url(images/icons/fam/user_add.png);
      margin-right: 8px;
}
.act-col-user-edit {
    background-image: url(images/icons/fam/user_edit.png);
      margin-right: 8px;
}
.grid-edit {
    background-image: url(images/icons/fam/page_white_edit.png);
      margin-right: 8px;
}
.icon_key {
    background-image: url(images/icons/fam/icon_key.gif);
      margin-right: 8px;
}

.action_go {
    background-image: url(images/icons/fam/action_go.gif);
      margin-right: 8px;
}

.action_stop {
    background-image: url(images/icons/fam/action_stop.gif);
      margin-right: 8px;
}

.push_phone {
    background-image: url(images/icons/fam/push_phone.png);
      margin-right: 8px;
}

.push_data {
    background-image: url(images/icons/fam/push_data.png);
      margin-right: 8px;
}
